.container{
	width: 100%;
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}
.card {
	display: flex;
	flex-direction: column;
}
.card__head {
	padding: 24px 0 24px 16px;
}
.breadcrumb {
	padding: 12px 0;
}
.breadcrumb__list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: var(--grey);
}
.breadcrumb__unit{
	display: inline-flex;
	align-items: center;
}
.breadcrumb__unit + .breadcrumb__unit::before {
	content: '/';
}
.breadcrumb__link {
	font-size: 14px;
	line-height: 170%;
}
.card__head-wrapper {
	display: flex;
	justify-content: space-between;
}
.card__head-left {
	flex-grow: 1;
}
.card__title {
	font-weight: 600;
	font-size: 4.2rem;
	line-height: 150%;
}
.card__head-list {
	display: flex;
	align-items: center;
}
.card__head-unit {
	display: inline-flex;
	align-items: center;
}
.card__head-unit {
	font-size: 14px;
}
.card__head-unit + .card__head-unit {
	margin-left: 16px;
}
.card__head-unit._green {
	color: var(--green);
}
.card__head-unit._green svg {
	width: 48px;
	height: 48px;
	fill: var(--green);
}
.card__head-right {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 416px;
	margin-left: 24px;
}
.card__price-list {
	padding: 0 16px 16px;
}
.card__price-unit {
	margin-bottom: 12px;
	line-height: 150%;
}
.card__price-unit._new {
	font-weight: 600;
	font-size: 4.2rem;
}
.card__price-unit._old {
	color: var(--grey);
	text-decoration-line: line-through;
}
.rent__select {
	position: relative;
	z-index: 10;
}
.rent__select-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
	width: 100vw;
	height: 100vh;
}
.rent__select._open .rent__select-overlay {
	display: block;
}
.rent__select-box {
	position: relative;
	background-color: var(--white);
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: transparent;
	border-radius: 8px 8px 0 0;
	transition: all .3s ease;
}
.rent__select._open .rent__select-box {
	border-color: var(--light);
}
.rent__select-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 24px;
	height: 24px;
	fill: #200E32;
	transform: translateY(-50%);
}
.rent__select-input {
	width: 100%;
	padding: 12px 48px;
	background: var(--light);
	border-radius: 8px;
	font-weight: 600;
	line-height: 150%;
	outline: none;
	cursor: pointer;
}
.rent__select-arrow {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 24px;
	height: 24px;
	fill: var(--default);
	transform: translateY(-50%);
}
.rent__select-dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	line-height: 150%;
	background-color: var(--white);
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 0 0 8px 8px;
	height: 0;
	overflow: hidden;
	transition: all .3s ease;
}
.rent__select._open .rent__select-dropdown {
	border-color: var(--light);
}
.rent__select-list {
	padding-top: 16px;
}
.rent__select-unit {
	margin-bottom: 24px;
}
.rent__select-label {
	display: block;
	padding: 0 12px 0 16px;
	cursor: pointer;
}
.rent__select-radio {
	display: none;
}
.rent__select-content{
	position: relative;
	display: flex;
	flex-direction: column;
}
.rent__select-content::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url('../images/svg/check.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	transform: translateY(-50%);
}
.rent__select-radio:checked + .rent__select-content::before{
	visibility: visible;
	opacity: 1;
}
.rent__select-name {
	font-weight: 600;
}
.rent__select-description {
	padding: 0 16px 24px;
}
.separator{
	border-width: 1px 0;
	border-style: solid;
	border-color: var(--light);
}
.card-set {
	padding: 24px 0;
	border-bottom: 1px solid var(--light);
}
.card-set__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-set__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: calc(100% - 416px);
	padding-left: 16px;
}
.card-set__unit {
	display: inline-flex;
	align-items: center;
}
.card-set__unit-icon {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border: 1px solid var(--light);
	border-radius: 50%;
}
.card-set__unit-icon svg {
	width: 48px;
	height: 48px;
	padding: 12px;
	fill: var(--white);
	border-radius: 50%;
}
.card-set__unit-icon._green svg {
	background-color: var(--green);
}
.card-set__unit-icon._blue svg {
	background-color: var(--default);
}
.card-set__unit-icon._purple svg {
	background-color: var(--purple);
}
.card-set__unit-box {
	padding: 0 16px;
	text-align: center;
}
.card-set__unit-name {
	font-weight: 600;
	font-size: 18px;
	line-height: 135%;
}
.card-set__unit-btn {
	font-size: 14px;
	line-height: 170%;
}
.card-set__btn-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 24px;
}
.card-set__btn {
	background-color: var(--white);
	border-radius: 8px;
	transition: all .3s ease;
}
.card-set__btn:hover,
.card-set__btn:focus {
	background-color: var(--light);
}
.card-set__btn svg {
	width: 48px;
	height: 48px;
	fill: var(--default);
}
.card__wrapper {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
}
/**/
.card__slider {
	position: relative;
	width: calc(100% - 440px);
	height: inherit;
	max-height: 100%;
	border-radius: 8px;
	overflow: hidden;
}
.card__slider-inner {
	display: flex;
	width: 100%;
	height: 100%;
}
.card__slider-item {
	flex-shrink: 0;
}
.card__slider-img {
	height: 100%;
}
.card__slider-item img{
	object-fit: contain;
}
	/**/
.card__tag-list {
	position: absolute;
	top: 16px;
	left: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.card__tag-unit {
	padding: 12px;
	font-size: 18px;
	line-height: 135%;
	color: var(--white);
	border-radius: 8px;
}
.card__tag-unit + .card__tag-unit {
	margin-left: 16px;
}
.card__tag-unit._red {
	background-color: var(--red);
}
.card__tag-unit._green {
	background-color: var(--green);
}
.card__tag-unit._yellow {
	background-color: var(--yellow);
}
.card__cta {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 416px;
	margin-left: 24px;
	border: 1px solid #EFF3F2;
	border-radius: 8px;
}
.card__cta-title {
	width: 100%;
	padding: 16px 0px;
	font-weight: 600;
	font-size: 18px;
	line-height: 135%;
	color: var(--white);
	text-align: center;
	background: var(--green);
	border-radius: 8px;
	transition: all .3s ease;
}
.card__cta-title:hover,
.card__cta-title:focus {
	background-color: var(--greenActive);
}
.card__cta-box {
	padding: 24px 16px;
}
.card__cta-list {
	margin-bottom: 24px;
}
.card__cta-unit {
}
.card__cta-unit + .card__cta-unit {
	margin-top: 16px;
}
.card__cta-btn {
	width: 100%;
	padding: 12px;
	font-weight: 600;
	line-height: 150%;
	border: 1px solid #EFF3F2;
	border-radius: 8px;
}
.card__cta-descr {
	margin-bottom: 16px;
	line-height: 150%;
}
.card__cta-link {
	color: var(--green);
	text-decoration: underline;
}
.card__notify-btn {
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-color: var(--white);
	border: 1px solid var(--green);
	border-radius: 48px;
	transition: all .3s ease;
}
.card__notify-btn:hover,
.card__notify-btn:focus {
	background-color: var(--greenActive);
	border-color: var(--greenActive);
} 
.card__notify-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: var(--green);
	border-radius: 48px;
	transition: all .3s ease;
}
.card__notify-btn:hover .card__notify-icon,
.card__notify-btn:focus .card__notify-icon {
	background-color: var(--white);
} 
.card__notify-icon svg {
	width: 24px;
	height: 24px;
	fill: var(--white);
	transition: all .3s ease;
}
.card__notify-btn:hover .card__notify-icon svg,
.card__notify-btn:focus .card__notify-icon svg {
	fill: var(--greenActive);
} 
.card__notify-text {
	padding: 12px 16px;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--green);
	transition: all .3s ease;
}
.card__notify-btn:hover .card__notify-text,
.card__notify-btn:focus .card__notify-text {
	color: var(--white);
} 
.card__pagination {
	position: relative;
	width: calc(100% - 440px);
}
.card__pagination-box {
	position: absolute;
	top: 16px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 86px;
	height: 56px;
	border: 1px solid var(--light);
	border-radius: 4px;
}
.card__pagination-box svg {
	width: 24px;
	height: 24px;
	fill: var(--default);
}
.card__pagination-sum {
	margin-left: 8px;
	font-size: 14px;
}
.card__pagination-inner {
	display: flex;
	flex-wrap: wrap;
}
.card__pagination-item {
	width: 86px;
	height: 56px;
	margin-top: 16px;
	margin-right: 16px;
	border-radius: 4px;
	overflow: hidden;
}
.card__pagination-item:first-child {
	margin-left: 102px;
}
.card__pagination-img {
	height: 100%;
}
@media(max-width: 1200px) {
	.card__head-right {
		width: 350px;
	}
	.card-set__list {
		min-width: calc(100% - 350px);
	}
	.card__cta {
		width: 350px;
	}
	.card__slider,
	.card__pagination {
		width: calc(100% - 374px);
	}
}
@media(max-width: 1024px) {
	html {
		font-size: 8px;
	}
}
@media(max-width: 992px) {
	.card-set__wrapper {
		align-items: flex-end;
	}
	.card-set__list {
		flex-direction: column;
		align-items: flex-start;
	}
	.card-set__unit-box {
		text-align: left;
	}
	.card-set__unit + .card-set__unit {
		padding-top: 12px;
	}
	.card-set__btn-list {
		margin: 0;
	}
	.card__wrapper {
		flex-direction: column;
	}
	.card__slider  {
		width: 100%;
		margin-bottom: 24px;
	}
	.card__pagination {
		position: static;
		/*display: flex;*/
		width: 100%;
		margin-bottom: 24px;
		display: none;
	}
	.card__pagination-box {
		position: static;
		flex-shrink: 0;
	}
	.card__pagination-slider {
		width: 100%;
		overflow: hidden;
	}
	.card__pagination-inner {
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;
	}
	.card__pagination-item {
		width: auto;
		margin: 0;
		flex-shrink: 0;
	}
	.card__pagination-item:first-child {
		margin: 0;
	}
	.card__cta {
		order: 1;
		width: 100%;
		margin: 0;
	}
	.card__cta-descr {
		margin: 0 auto 16px;
	}
	.card-set {
		order: 1;
	}
	.card__cta-unit._desktop,
	.card__cta-descr._desktop,
	.card__notify-btn._desktop {
		display: none;
	}
	.card-set__btn-list{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		padding: 0 15px;
		background-color: var(--white);
		border-bottom: 1px solid var(--light);
	}
	.card {
		padding-top: 25px;
		padding-bottom: 135px;
	}
	.card__cta-box {
		padding: 0;
	}
	.card__cta-list,
	.card__cta-unit + .card__cta-unit {
		margin: 0;
	}
	.card__cta {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
		padding: 8px 15px;
		background-color: var(--white);
		border-radius: 0;
		border-width: 1px 0 0;
	}
	.card__cta-title {
		margin-bottom: 8px;
	}
}
@media(max-width: 768px) {
	.card__head-wrapper {
		flex-direction: column;
	}
	.card__head-right {
		width: 416px;
		max-width: 416px;
		margin: 0;
	}
	.card__price-list {
		padding: 0 0 12px;
	}
}
@media(max-width: 720px) {
	.card__head {
		padding: 24px 0;
	}
	.card-set__list {
		padding: 0;
	}
}
@media(max-width: 576px) {
	.card__head-right {
		width: 100%;
		max-width: 100%;
	}
	.card-set__wrapper {
		flex-direction: column;
		align-items: stretch;
	}
	.card-set__list {
		margin-bottom: 12px;
	}
	.card__tag-unit {
		padding: 0 8px;
		font-size: 14px;
		line-height: 170%;
		border-radius: 4px;
	}
	.card__tag-unit + .card__tag-unit {
		margin-left: 8px;
	}
}
@media(max-width: 414px) {
	html {
		font-size: 6px;
	}
	.card__notify-text {
		padding: 12px;
	}
}
.address-title{
	margin-top: 30px;
}
.address{
	margin-top: 10px;
	font-size: 3rem;
}
.description-title{
	margin-top: 10px;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 10px;
}

.description-content pre{
	white-space:pre-wrap;
	font-family: inherit;
	line-height: 150%;
}

.card__slider-item{
	background: #EEE;
}

.swiper-slide-active{
	height: 600px;
	object-fit: contain;
}